body {
    background-color:#394750;
}
h1 {
    color: white;
}
#gradientChart{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
#dateTimePickerStart{
    border: 2px solid #8385DC;
    border-radius: 7px;
    background-color: #6C75C0;
    color: wheat;
    margin-right: 5px;
}
#dateTimePickerEnd{
    border: 2px solid #8385DC;
    border-radius: 7px;
    background-color: #6C75C0;
    color: wheat;
    margin-right: 5px;
}
#btn{
    border: 2px solid #DE66AE;
    border-radius: 7px;
    background-color: #B24C8D;
    color: white;
    height: 26px;
    font-family: 'Courier 10 Pitch';
}
#startTimeDiv{
    float: left;
}
#endTimeDiv{
    float: left;
}
.labelDiv{
    float: left;
}
.label{
    margin-right: 5px;
}
#startTimeInputDiv{
    float: right;
}
#endTimeInputDiv{
    float: right;
}
@media screen and (max-width: 414px){
    #filterForm{
        width: 0;
    }
    #btn{
        margin-top: 5px;
    }
}
@media screen and (max-height: 390px){
    #filterForm{
        width: 0;
    }
    #btn{
        margin-top: 5px;
    }
}
@media screen and (min-height: 960px){
    #filterForm{
        width: 0;
    }
    #btn{
        margin-top: 5px;
    }
}
