<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RunChip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/filterrequest.js"></script>
    <script src="/getrequest.js"></script>
    <script src="/echarts.min.js"></script>
    <script src="/jquery.datetimepicker.full.js"></script>
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/jquery.datetimepicker.min.css" />
</head>
<body>
<div class=" container">
    <p style="font-family: 'Courier 10 Pitch'; font-size: 30px; color: white">RunChip</p>
    <form id="filterForm">
        <div id="startTimeDiv">
            <div class="labelDiv">
                <label class="label" style="color: white; font-family: 'Courier 10 Pitch';">Start Time</label>
            </div>
            <div id="startTimeInputDiv">
                <input type="text" id="dateTimePickerStart" />
            </div>
        </div>
        <div id="endTimeDiv">
            <div class="labelDiv">
                <label class="label" style="color: white; font-family: 'Courier 10 Pitch';">End Time</label>
            </div>
            <div id="endTimeInputDiv">
                <input type="text" id="dateTimePickerEnd" />
            </div>
        </div>
        <div>
            <button type="button" id="btn" class="btn-primary">Filter</button>
        </div>
    </form>
    <div id="getResultDiv">
        <ul class="resultList">
        </ul>
    </div>
    <div id="gradientChart" style="width: 100%; min-height: 400px;">
    </div>
</div>
</body>
</html>